<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Booker_Test">
    <test name="End to End Test">
        <classes>
            <class name="Com.booker.TestngBookerTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
